USE [master]
GO
/****** Object:  Database [TokioHotelFanApp]    Script Date: 11/24/2020 11:42:04 AM ******/
CREATE DATABASE [TokioHotelFanApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TokioHotelFanApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TokioHotelFanApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TokioHotelFanApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TokioHotelFanApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TokioHotelFanApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TokioHotelFanApp]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 11/24/2020 11:42:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[AlbumId] [char](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Release Date] [date] NOT NULL,
	[Number of Songs] [int] NOT NULL,
	[Number of Hits] [int] NOT NULL,
	[Amount Sold] [int] NOT NULL,
	[Record Label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Album] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Song]    Script Date: 11/24/2020 11:42:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Song](
	[SongId] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[AlbumId] [char](10) NOT NULL,
	[Writer] [varchar](50) NOT NULL,
	[Producer] [varchar](50) NULL,
 CONSTRAINT [PK_Song] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopFive]    Script Date: 11/24/2020 11:42:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopFive](
	[TopFiveId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[FirstSong] [varchar](10) NULL,
	[SecondSong] [varchar](10) NULL,
	[ThirdSong] [varchar](10) NULL,
	[ForthSong] [varchar](10) NULL,
	[FifthSong] [varchar](10) NULL,
 CONSTRAINT [PK_TopFive] PRIMARY KEY CLUSTERED 
(
	[TopFiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/24/2020 11:42:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Song]  WITH CHECK ADD  CONSTRAINT [AlbumID] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Album] ([AlbumId])
GO
ALTER TABLE [dbo].[Song] CHECK CONSTRAINT [AlbumID]
GO
ALTER TABLE [dbo].[TopFive]  WITH CHECK ADD  CONSTRAINT [FK_UserID_User_TopFive] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[TopFive] CHECK CONSTRAINT [FK_UserID_User_TopFive]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Links AlbumId from song to the album' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Song', @level2type=N'CONSTRAINT',@level2name=N'AlbumID'
GO
USE [master]
GO
